font-sige:25 pxi-tamanho da fonte 
text-aligh:center;-alinhamento do texto 
body {

}

.principal{
    background: #CCCCCC;
    padding: 30px;
}
.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

h2 {
    text-align: center;
}